.certificate-head {
  display: flex;
  margin-top: 60px;
  justify-content: center; /* Align items horizontally at the center */
}

.certificate-head h1 {
  font-size: 2.5em;
}

@media (max-width: 768px) {
  .certificate-head{
    padding: 10px;
    margin-left: 13px;
    text-align: left;
  }
  .certificate-head h1 {
    font-size: 1.5em;
  }
}
